# Node
node_modules/
dist/

# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iml

# OS
.DS_Store

# 환경변수 관리
todo-api/.env

# K6 로드 테스트 토큰 (로컬 생성 파일)
k6/tokens.json

# Terraform
terraform/.terraform/
terraform/terraform.tfvars
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# AWS CLI 설치 파일
aws/
awscliv2.zip